body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #34a0c7;
}

.auth-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.auth-form-heading{
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	color: #fff;
	text-align: center;
}

.auth-form .auth-form-heading,
.auth-form .checkbox {
  margin-bottom: 10px;
}
.auth-form .checkbox {
  font-weight: normal;
}
.auth-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.auth-form .form-control:focus {
  z-index: 2;
}
.auth-form .email{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.auth-form .password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}

.btn-login{
	background-color: #fff;
	color:#34a0c7;
}

.btn-login:hover{
	color: #087599;
	background-color: #F0F0F0
}

label{
	color: #fff;
}

.register input{
	margin: 8px 0px;
}

.auth-form p{
	color: #fff;
	text-align: center;
} 

.auth-form a{
  color: #fff;
  text-decoration: none;
}

.auth-form a:hover{
  color: #F0F0F0;
  text-decoration: underline;
}

.register a{
	color: #fff;
	text-decoration: underline;
}

.register a:hover{
	color: #F0F0F0;
}
.info-box{
	border-radius: 10px;
	border: 3px solid #fff;
	margin: 20px 0px;
}

h3{
	color: #fff;
	text-align: center;
}

ul li{
	color: #fff;
}