@import url(http://fonts.googleapis.com/css?family=Lato|Lobster+Two);

body{
	background-color: #FCFCFC;
	font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand{
	padding: 8px;
	font: 200% 'Lobster Two', cursive;
	color: #34a0c7;
	margin-right: 20px;
}

.navbar-default .navbar-brand:hover{
	color: #087599;
}